@import "alerts.css";
@import "form.css";
@import "breadcrumb.css";

:root {
    --white: #FFF;
    --black: #000;
    --primary-color: #1b263b;
    --secundary-color: #e0e1dd;
    --secundary-color-varation:#8ea5c3;
    --link-color:#700416;
    --link-active-color:#ef233c;
    scroll-behavior: smooth;
}


* {
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    color:var(--secundary-color)
}

a:any-link{
    color: var(--link-color);
    text-decoration: none;
    font-size: 1.2em;
}

a.active{
    font-weight: bold;
    color: var(--link-acetive-color);
    text-decoration: underline;
}

.container {
    background-color: var(--white);
    width: clamp(350px, 95%, 1440px);
    margin: auto;
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
}

table{
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    border: 1px solid var(--primary-color);
}

tr:hover{
    background-color: var(--secundary-color);
}

th, td{
    padding:10px;
    border-bottom:1px dotted var(--secundary-color);
}

th{
    background-color: var(--secundary-color-varation);
}

.container>* {
    border: 1px solid var(--primary-color);
    padding: 30px;
}

nav {
    background-color: var(--secundary-color-varation);
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0
}

footer {
    text-align: center;
}

.pagination{
    display: flex;
    justify-content: center;
    padding: 10px;
    border-top:1px solid var(--secundary-color);
}

.pagination a{
    margin:0 15px;
}


.lista > div, .ver > div{
    box-sizing: border-box;
    padding:10px;
}
.lista > div:hover, .ver > div:hover:not(.lista){
    background-color:var(--secundary-color)
}

.ver .lista{
    border:1px dotted var(--secundary-color-varation);
    margin:15px 0;
}